* {
	padding: 0;
	margin: 0;
}

body {
	background:#1096D5;
}
html, body {
	width:  100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
	overflow: hidden;
}


#snow {
	width:  100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

canvas {
	display: block;
}

#info-box {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	border-radius: 15px;
	z-index: 2;
	background: rgba(0,0,0, 0.2);
}
/*
#about-box {
	position: absolute;
	top: 50px;
	left: 150px;
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	border-radius: 15px;
	z-index: 3;
	background: rgba(0,0,0, 0.2);
	display: none;
}
#about-box .padding {
	padding: 25px;
}
#design-box {
	position: absolute;
	top: 50px;
	left: 150px;
	border: 1px solid #000;
	border-radius: 15px;
	background: rgba(0,0,0, 0.2);
	z-index: 3;
	display: none;
}
*/

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.icon-info-sign:before { content: "\f05a"; }
.icon-edit:before { content: "\f044"; }
.icon-remove-circle:before { content: "\f05c"; }
.icon-remove-sign:before { content: "\f057"; }
.icon-ok-sign:before { content: "\f058"; }
.icon-ok-circle:before { content: "\f05d"; }
.icon-retweet:before { content: "\f079"; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.flake-rotate
{
	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 3.5s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
